.place-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #00b493;
}

.loading-container p {
  margin-top: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}