.place-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #00b493;
}

.loading-container p {
  margin-top: 10px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.place-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.place-item {
  position: relative;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.place-addr {
  font-size: 14px;
  margin-bottom: 5px;
}

.place-title {
  font-size: 16px;
  font-weight: bold;
}

.place-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-place-item {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.list-place-img img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.list-place-info {
  margin-top: 10px;
}

.list-place-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.list-place-info p {
  font-size: 14px;
  color: #666;
  margin: 0;
}
