.Footer {
  background-color: white;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.footer-text {
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  text-align: center;
  bottom: 0;
  color: #666;
  font-weight: 300;
  margin-top: 20px;
}

.slide-container {
  width: 100%;
  overflow: hidden;
  height: 10vh; /* 조정된 높이 */
  position: relative;
}

.slided-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.slide-original, .slide-clone {
  display: flex;
  flex-direction: row;
}

.slide-original li,
.slide-clone li {
  list-style-type: none; /* 기본 점 제거 */
  margin-right: 6vw; /* 이미지 간 간격 추가 */
}

.item img {
  height: 2vw;
  min-height: 40px;
  width: auto; 
  margin-top: 20%;
  object-fit: contain;
}

/* 애니메이션 제어 */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* 슬라이드가 멈췄을 때 애니메이션 멈추기 */
.stop {
  animation-play-state: paused;
}

/* 슬라이드 애니메이션 */
.slided-wrapper {
  animation: slide 25s linear infinite;
}
