.Footer {
  background-color: white;
  width: 100%;
  height: 20vh; /* Footer 높이 */
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: auto; /* 페이지 내용이 끝나면 자동으로 Footer가 아래로 배치되게 함 */
  position: relative;
}

.footer-text {
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  text-align: center;
  color: #666;
  font-weight: 300;
  padding: 1vh;
}

/* 슬라이더 컨테이너 */
.slide-container {
  width: 100%;
  overflow: hidden;
  height: 10vh; /* 높이 조정 */
  position: relative;
}

.slide-wrapper {
  width: 100%;
  display: flex;
  animation: slide 35s linear infinite; /* 무한 반복 애니메이션 */
}

/* 각 항목의 스타일 */
.slide-wrapper li {
  list-style: none; /* 기본 점 제거 */
  margin-right: 8vw; /* 이미지 간 간격 */
}

.item img {
  height: 3vw;
  min-height: 40px;
  width: auto;
  max-width: 170px;
  margin-top: 10%;
  object-fit: contain;
}

/* 이미지별 크기 조정 */
.item img.publicdata-img { width: 20vw; max-width: 160px; }
.item img.seoulopendata-img { width: 25vw; max-width: 170px; }
.item img.durunubi-img { width: 25vw; max-width: 150px; }

/* 애니메이션 설정 (슬라이드 이동) */
@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* 두 번째 세트로 이동 */
}

/* 슬라이드가 멈췄을 때 애니메이션 멈추기 */
.stop .slide-wrapper {
  animation-play-state: paused;
}
