.Intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;             /* 화면 전체 높이를 사용 */
  background: linear-gradient(to right, #f3eada , #2f4858, #fff067, #1a2a34)
}

.top {
  display: flex; /* 플렉스 레이아웃 */
  justify-content: space-between; /* 로고와 텍스트를 좌우로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 80%; /* 너비 설정 */
  background-color: bisque;
  min-block-size: 20%;
}

.logo-top {
  max-width: 20vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 12%;
}

.text-top {
  font-family: 'Arial', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
  color: #2f4858; /* 텍스트 색상 */
  width: 50%; /* 텍스트 너비 설정 */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.image-overlay {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-block-size: 40%;
}

.image-wrapper {
  position: relative;
  width: 50%; /* 화면을 반으로 나눔 */
  height: 100%;
  cursor: pointer;
}

.image-wrapper img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 반투명 검은색 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
  opacity: 1; /* 마우스 오버 시 오버레이 보이기 */
}
