.pollutant {
  flex: 8;
  width: 100%; /* 100% 너비로 설정 */
  background-color: white;
  display: flex;
  flex-direction: column;  /* 세로로 정렬 */
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}

.pollutant .bundle {
  flex: 1;
  width: 100%;
  max-width: 750px; /* 최대 너비 설정 */
  margin-top: 20px; /* 상단 여백 추가 */
}

.pollutant .title {
  color: #444;
  font-size: 1.5rem;
  margin-left: 20px;
}

.pollutant .title1 {
  padding: 0.5rem;
  color: #444;
  font-size: 1rem;
}

.pollutant .subtitle {
  color: gray;
  font-size: 0.8rem;
}

.pollutant .box1,
.pollutant .box2,
.pollutant .box3,
.pollutant .box4,
.pollutant .box5,
.pollutant .box6 {
  background-color: rgb(248, 245, 245);
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  flex: 1;
  padding: 0.5rem;
}

.pollutant .grid-container {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  gap: 0.5rem;
  margin-left: 20px;
  margin-right: 20px;
}

.pollutant .value {
  font-size: 0.8rem;
  color: #444;
}

@media screen and (max-width: 845px) {
  .pollutant {
    width: 100%; /* 화면 크기에 맞게 100%로 설정 */
  }
}
