.day-seoul{
  padding-top: 100px; 
}

.day-seoul .hashtag-btn {
  background: #00b493;
  border: 2px solid ;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s easy;
}

.day-seoul .hashtag-btn:hover {
  background-color: #01614f; 
}
.day-seoul .hashtag-list {
  display: flex;
  flex-direction: row;       /* 가로 방향으로 버튼 배치 */
  justify-content: center;   /* 수평 중앙 정렬 */
  align-items: center;       /* 수직 중앙 정렬 */
  gap: 10px;                 /* 버튼 간 간격 */
  margin-bottom: 20px;
  height: 100%;              /* 부모 요소의 높이에 맞춰 수직 중앙 정렬 */
}

.places-list{
  background-color: white;
}