/* 기본 레이아웃 스타일 */
.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-top: 100px;
}

.app.day{
  background-color: #e9fef7;
}
.app.night{
  background-color:#23333f;
}


/* 미디어 쿼리: 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
  .app {
    flex-direction: column; /* 세로 레이아웃으로 변경 */
  }

}

/* 미디어 쿼리: 화면 크기가 480px 이하일 때 */
@media (max-width: 480px) {
  
}
